
.Channel {
    background-color: rgb(19, 23, 30);
    display: grid;
    width: 20%;
    height: 9.5rem;
    background-image: linear-gradient(rgb(24, 29, 37), rgb(19, 23, 30));
}

.ChannelScroller {
    background-color: rgb(19, 23, 30);
    display: grid;
    margin-left: 20%;
    position: relative;
    top: -400%;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    height: 9.5rem;
    overflow-x: auto;
    scrollbar-width: none;
}

.Show {
    background-color: rgb(2, 0, 27);
    border-radius: .5rem;
    margin: .06rem;
}

h3 {
    line-height: 1.2rem;
    font-variant-caps: all-small-caps;
    font-weight: 600;
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
    color: rgb(177, 177, 177);
}

p {
    font-variant-caps: all-small-caps;
    font-weight: bold;
    text-align: left;
    margin-left: 2rem;
    color: rgb(123, 155, 220);
}