  #remote {
    position: relative;
    top: 50%;
  }
  
  .remote-control {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
  }
  
  .controls {
    display: grid;
    width: 125px;
  }
  
  .controls-cluster {
    margin: auto;
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .navigation-cluster {
    margin: auto;
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .separator {
    grid-column: span 2;
    display: grid;
    margin-top: 50px;
  }
  .navigation-button {
    background-color: #34a853;
  }
  
  .up {
    grid-column: 2;
    grid-row: 1;
  }
  
  .down {
    grid-column: 2;
    grid-row: 4;
  }
  
  .left {
    grid-column: 1;
    grid-row: 2 / span 2;
  }
  
  .right {
    grid-column: 3;
    grid-row: 2 / span 2;
  }
  
  .enter {
    grid-column: 2;
    grid-row: 2 / span 2;
  }
  